<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VisualisingDataStructures.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C815B7523DF4AF9003BB749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C815B8B23DF4AFB003BB749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C815B9623DF4AFB003BB749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
